<!-- Head -->
{{> head}}
<!-- nav -->
{{> nav}}
<!-- body-->
<div class="container">
    <main role="main" class="pb-3">
FERRUM
    </main>
</div>
<!-- footer -->
{{> footer}}

<!-- scripts -->
{{> scripts}}